.film {
    display: block;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 45px);
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    color: #F1FAEE;
    align-items: center;
    gap: 20px;
    padding: 20px;

    h2 {
      margin: 0;
      width: 600px;
      text-align: start;
    }

    p {
      max-width: 32em;
      text-align: start;
    }

    img {
      width: auto;
      height: 450px;
    }
}

.buy-tick {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.buy-tick{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    div {
      border: 2px solid #93032E;
      border-radius: 8px;
      z-index: 9999;
      position: absolute;

      &:has(button:disabled) {
        border: none;
      }
    }

    button {
      padding: 10px 20px;
      margin: 5px;
      font-size: 18px;
      background-color: #93032E;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;
      position: relative;

      &:not(:disabled):hover {
        margin: 3px;
      }
      &:disabled {
        background-color: #777;
        cursor: not-allowed;
      }
    }
}

