footer {
    display: block;
    margin-top: 40px;
    color: #F1FAEE;
    background-color: #151515;
    padding: 20px;
    gap: 10px;
}
.info-footer {
    display: flex;
    justify-content: space-between;
    gap: 4px;

    div {
      display: flex;
      flex-direction: column;
      color: #c6c6c8;

      span {
        font-weight: 600;
      }
      p {
        font-weight: 400;
      }
    }
}
.links p a {
    color: #F1FAEE;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: #93032E;
      font-weight: 900;
    }
}

