.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3%;
}
#parent {
    display: inline-block;
    width: 70%;
    margin: 0 60px;
}
.child {
    display: block;
    height: 600px;
    width: 100%;
    color: #F1FAEE;
}

.child p {
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
}

.child button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    background-color: #93032E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.child span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    margin: 10px 0;
}
img {
    width: 100%;
}
.prevBtn, .nextBtn {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 99991;
    height: max-content;
    font-size: 3em;
    color: #93032E;
}

@media screen and (max-width: 768px) {
    Swiper {
        width: 100%;
        margin: 20px 0;
    }

    .child h2{
        width: 100%;
        font-size: 1.2em;
    }
    .child span {
        font-size: 20px;
    }
    .child button {
        padding: 8px 16px;
        font-size: 16px;
    }
}