body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1A1A1A;
}
h1, h2, h3 {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}
p, span {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
}
a {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}
button {
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 20px;
    background-color: #151515;
    color: #93032E;
    height: 45px;
}
/* header ul {
    list-style-type: none;
}
header ul li {
    display: inline;
    margin-right: 20px;
}
header ul li a {
    color: #93032E;
    text-decoration: none;
} */
.search {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #93032E;
  border-radius: 17px;
  padding: 4px 10px;
}
  .search input {
    border: none;
    padding: 8px;
    outline: none;
    width: 250px;
    background-color: #151515;
    color: #93032E;
}
.search button {
  display: flex;
  background-color: transparent;
  align-items: center;
}
.search button i {
  color: #93032E;
  text-align: center;
  font-size: 17px;
}
.logo a {
    color: #93032E;
    text-decoration: none;
}
.all-films {
    text-align: center;
}
.all-films h1 {
    margin-bottom: 20px;
}
